.warehouseHomePage-img {
  height: calc(80vh - 0px);
  background-image: url(/src/assets/warehouseHomePage.png);
  background-position: right;
  left: 10px;
}

.welcomeMessage {
  font-family: sans-serif;
  color: #141d28;
  font-size: 60px;
  background-position: right;
  position: absolute;
  left: 800px;
  top: 320px;
}

.welcomeMessage span {
  color:  #0073ff;
}
