<div class="container">
  <div class="menu-window" style="width: 275px">
    <span class="domain-icon">
        <img src="../../assets/icon-route.png" alt="account-icon">
    </span>
    <p class="domain-title">Create Route</p>
    <div class="input-field">
      <label for="routeId">Route ID</label>
      <input class="input" type="text" name="routeId" required [(ngModel)]="routeId" id="routeId">
    </div>
    <div class="input-field">
      <label for="origin">Origin</label>
      <input class="input" type="text" name="origin" required [(ngModel)]="origin" id="origin">
    </div>
    <div class="input-field">
      <label for="destination">Destination</label>
      <input class="input" type="text" name="destination" required [(ngModel)]="destination" id="destination">
    </div>
    <div class="input-field">
      <label for="distance">Distance</label>
      <input class="input" type="number" name="distance" required [(ngModel)]="distance" id="distance">
    </div>
    <div class="input-field">
      <label for="timeDistance">Time Distance</label>
      <input class="input" type="number" name="timeDistance" required [(ngModel)]="timeDistance" id="timeDistance">
    </div>
    <div class="input-field">
      <label for="energySpent">Energy Spent</label>
      <input class="input" type="number" name="energySpent" required [(ngModel)]="energySpent" id="energySpent">
    </div>
    <div class="input-field">
      <label for="extraBatteryTime">Extra Battery Time</label>
      <input class="input" type="number" name="extraBatteryTime" required [(ngModel)]="extraBatteryTime" id="extraBatteryTime">
    </div>
    <div>
      <button class="button" type="submit" (click)="createRoute()">Submit</button>
    </div>
  </div>
  <div class="menu-window">
    <h1>Route list</h1>
    <table id="list-table">
      <tr>
        <th>Route ID</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Distance</th>
        <th>Time Distance</th>
        <th>Energy Spent</th>
        <th>Extra Battery Time</th>
      </tr>
    </table>
  </div>
</div>
