<h2>List of Deliveries</h2>

<div>
  <p>
  <label for="new-delivery">Delivery ID: </label>
  <input id="new-delivery" #deliveryId />
  </p>

  <p>Delivery Date:</p>
  <p>
    <label for="new-delivery-day">   Day: </label>
    <input id="new-delivery-day" #deliveryDay/>
  </p>
  <p>
    <label for="new-delivery-month">   Month: </label>
    <input id="new-delivery-month" #deliveryMonth/>
  </p>
  <p>
    <label for="new-delivery-year">   Year: </label>
    <input id="new-delivery-year" #deliveryYear/>
  </p>
  <p>
    <label for="new-delivery-mass">Delivery Mass: </label>
    <input id="new-delivery-mass" #deliveryMass/>
  </p>
  <p>
    <label for="new-delivery-wId">Warehouse ID: </label>
    <input id="new-delivery-wId" #deliveryWid/>
  </p>
  <p>
    <label for="new-delivery-wTime">Withdrawal Time: </label>
    <input id="new-delivery-wTime" #deliveryWtime/>
  </p>

  <p>
    <label for="new-delivery-dTime">Delivery Time: </label>
    <input id="new-delivery-dTime" #deliveryDtime/>
  </p>

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(deliveryId.value); deliveryId.value=''">
    Add delivery
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let delivery of deliveries">
    <a routerLink="/detail/{{delivery.id}}">
      <span class="badge">{{delivery.id}}</span> {{delivery.id}}
    </a>
    <button type="button" class="delete" title="delete delivery"
            (click)="delete(delivery)">x</button>
  </li>
</ul>


