<nav>
  <label>Eletric<span>Go</span></label>
  <ul>
    <li><a href="#">Home</a></li>
    <li class="dropdown-hover">
      <a href="#">Login<i class="fas"></i></a>
      <div class="dropdown">
        <ul>
          <li><a href="#" [routerLink]="['/warehouse-manager']">Warehouse Manager</a></li>
          <li><a href="#">Fleet Manager</a></li>
          <li><a href="#">Logistics Manager</a></li>
        </ul>
      </div>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
<div class="container">
  <div class="menu-window">
    <span>
        <img src="../../assets/icon-route.png" alt="account-icon">
    </span>
    <p>Create Route</p>
    <div class="input-field">
      <label>Route ID</label>
      <input class="input" type="text" name="routeId" required>
    </div>
    <div class="input-field">
      <label>Origin</label>
      <input class="input" type="text" name="origin" required>
    </div>
    <div class="input-field">
      <label>Destination</label>
      <input class="input" type="text" name="destination" required>
    </div>
    <div class="input-field">
      <label>Distance</label>
      <input class="input" type="text" name="distance" required>
    </div>
    <div class="input-field">
      <label>Time Distance</label>
      <input class="input" type="text" name="timeDistance" required>
    </div>
    <div class="input-field">
      <label>Energy Spent</label>
      <input class="input" type="text" name="energySpent" required>
    </div>
    <div class="input-field">
      <label>Extra Battery Time</label>
      <input class="input" type="text" name="extraBatteryTime" required>
    </div>
    <div>
      <button class="button" type="submit" onclick="window.location.reload();">Submit</button>
    </div>
  </div>
  <div class="menu-window">
    <h1>Delivery list</h1>
    <table id="list-table">
      <tr>
        <th>Route ID</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Distance</th>
        <th>Time Distance</th>
        <th>Energy Spent</th>
        <th>Extra Battery Time</th>
      </tr>
      <tr>
        <td>fds</td>
        <td>fds</td>
        <td>fds</td>
        <td>fds</td>
        <td>fds</td>
        <td>fds</td>
        <td>fds</td>
      </tr>
      <tr>
        <td>fds</td>
        <td>fds</td>
        <td>fds</td>
        <td>fds</td>
        <td>fds</td>
        <td>fds</td>
        <td>fds</td>
      </tr>
      <tr>
        <td>fds</td>
        <td>fds</td>
        <td>fds</td>
        <td>fds</td>
        <td>fds</td>
        <td>fds</td>
        <td>fds</td>
      </tr>
    </table>
  </div>
</div>
