<nav id="nav-override">
  <label><a href="#">Eletric<span>Go</span></a></label>
  <ul>
    <li><a href="#">Home</a></li>
    <li class="dropdown-hover">
      <a href="#">Login<i class="fas"></i></a>
      <div class="dropdown">
        <ul>
          <li><a href="#" [routerLink]="['/warehouse-manager']">Warehouse Manager</a></li>
          <li><a href="#" [routerLink]="['/fleet-manager']">Fleet Manager</a></li>
          <li><a href="#" [routerLink]="['/create-route']">Logistics Manager</a></li>
          <li><a href="#" [routerLink]="['/create-planning']">Create Planning</a></li>
          <li><a href="#" [routerLink]="['/road-network']">Road Network</a></li>
        </ul>
      </div>
    <li><a href="#" [routerLink]="['/contact']">Contact</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
<footer><span>@EletricGo | Designed by G70</span></footer>
