<nav>
  <label><a href="#">Eletric<span>Go</span></a></label>
  <ul>
    <li><a href="#">Home</a></li>
    <li class="dropdown-hover">
      <a href="#">Login<i class="fas"></i></a>
      <div class="dropdown">
        <ul>
          <li><a href="#" [routerLink]="['/warehouse-manager']">Warehouse Manager</a></li>
          <li><a href="#" [routerLink]="['/create-truck']">Create Truck</a></li>
          <li><a href="#" [routerLink]="['/create-route']">Create Route</a></li>
          <!--<li><a href="#">Fleet Manager</a></li>
          <li><a href="#">Logistics Manager</a></li>-->
        </ul>
      </div>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
