<div class="container">
  <div class="menu-window" style="width: 275px">
    <span class="domain-icon">
        <img src="../../assets/icon-planning.png" alt="account-icon">
    </span>
    <p class="domain-title">Create Planning</p>
    <div class="input-field">
      <label for="licensePlate">License Plate</label>
      <input class="input" type="text" name="licensePlate" [(ngModel)]="licensePlate" id="licensePlate">
    </div>
    <div class="input-field">
      <label for="date">Date</label>
      <input class="input" type="date" name="date" [(ngModel)]="date" id="date">
    </div>
    <div class="input-field">
      <label for="heuristic">Heuristic</label>
      <select name="heuristic" [(ngModel)]="heuristic" id="heuristic">
        <option value="1">Distance</option>
        <option value="2">Weight</option>
        <option value="3">Distance and Weight</option>
      </select>
    </div>
    <div>
      <button class="button" type="submit" (click)="createPlanning()">Submit</button>
    </div>
  </div>
  <div class="menu-window">
    <h1>Planning list</h1>
    <table id="list-table">
      <thead>
        <tr>
          <th style="border-radius: 5px 0 0 0"><input type="text" class="header-filter" placeholder="License Plate"
                                                      [(ngModel)]="searchLicensePlate"></th>
          <th><input type="text" class="header-filter" placeholder="Date" [(ngModel)]="searchDate"></th>
          <th style="border-radius: 0 5px 0 0">Warehouses</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let planning of plannings | filter:'planning':{licensePlate: searchLicensePlate,date: searchDate,warehouse:searchWarehouse}">
          <td>{{planning.licensePlate}}</td>
          <td>{{planning.date}}</td>
          <td>{{planning.warehouse}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
