<div class="container">
  <div class="menu-window" style="width: 275px">
    <span class="domain-icon">
      <img src="../../assets/icon-truck.png" alt="account-icon">
    </span>
    <p>Create Truck</p>
    <div class="input-field">
      <label>License Plate</label>
      <input class="input" type="text" name="licensePlate" required [(ngModel)]="licensePlate">
    </div>
    <div class="input-field">
      <label>Autonomy</label>
      <input class="input" type="number" name="autonomy" required [(ngModel)]="autonomy">
    </div>
    <div class="input-field">
      <label>Capacity Cargo</label>
      <input class="input" type="number" name="capacityCargo" required [(ngModel)]="capacityCargo">
    </div>
    <div class="input-field">
      <label>Capacity Transportation</label>
      <input class="input" type="number" name="capacityTransportation" required [(ngModel)]="capacityTransportation">
    </div>
    <div class="input-field">
      <label>Battery</label>
      <input class="input" type="number" name="battery" required [(ngModel)]="battery">
    </div>
    <div class="input-field">
      <label>Tare</label>
      <input class="input" type="number" name="tare" required [(ngModel)]="tare">
    </div>
    <div>
      <button class="button" type="submit" (click)="createValidTruck()">Submit</button>
    </div>
  </div>
  <div class="menu-window">
    <h1>Truck list</h1>
    <table id="tbody" >
      <tr>
        <th><input type="text" class="search-input" placeholder="Licence_Plate" pattern="([A-Za-z]{2}-[0-9]{2}-[A-Za-z]{2})" title="Must be of format XX-00-XX" required [(ngModel)]="searchString">
        </th>
      <!--  <th>License Plate</th>-->
        <th>Autonomy</th>
        <th>Capacity Cargo</th>
        <th>Capacity Transportation</th>
        <th>Battery</th>
        <th>Tare</th>
      </tr>
      <tr *ngFor="let truck of trucks | filter : 'licensePlate': searchString ; let i = index">
        <td class="text-left">{{truck.licensePlate}}</td>
        <td>{{truck.autonomy}}</td>
        <td>{{truck.capacityCargo}}</td>
        <td>{{truck.capacityTransportation}}</td>
        <td>{{truck.tare}}</td>
        <td>{{truck.battery}}</td>
      </tr>
    </table>
  </div>
</div>
