<div *ngIf="delivery">
  <h2>Delivery Details</h2>
  <div>
    <p>
    <label for="delivery-id">Delivery ID: </label>
    <input id="delivery-id" [(ngModel)]="delivery.id" placeholder="Delivery ID"/>
    </p>
    <p>Delivery Date</p>
    <p>
    <label for="delivery-day">Day: </label>
    <input id="delivery-day" [(ngModel)]="delivery.day" placeholder="Delivery Day"/>
    </p>
    <p>
      <label for="delivery-month">Month: </label>
      <input id="delivery-month" [(ngModel)]="delivery.month" placeholder="Delivery Month"/>
    </p>
    <p>
      <label for="delivery-year">Year: </label>
      <input id="delivery-year" [(ngModel)]="delivery.year" placeholder="Delivery Year"/>
    </p>
      <p>
    <label for="delivery-mass">Delivery Mass: </label>
    <input id="delivery-mass" [(ngModel)]="delivery.mass" placeholder="Delivery Mass"/>
      </p>
        <p>
    <label for="delivery-wId">Warehouse ID: </label>
    <input id="delivery-wId" [(ngModel)]="delivery.wId" placeholder="Warehouse ID"/>
        </p>
          <p>
    <label for="delivery-wTime">Withdrawal Time: </label>
    <input id="delivery-wTime" [(ngModel)]="delivery.withdrawalTime" placeholder="Withdrawal Time"/>
          </p>

    <p>
      <label for="delivery-dTime">Delivery Time: </label>
      <input id="delivery-dTime" [(ngModel)]="delivery.deliveryTime" placeholder="Delivery Time"/>
    </p>
  </div>
  <button type="button" (click)="goBack()">Back</button>
  <button type="button" (click)="save()">Save</button>
</div>
